<h2 class="mat-dialog-title" mat-dialog-title>Create a purchase</h2>
<div mat-dialog-form>
    <form ngNativeValidate (ngSubmit)="onSubmit()" class="mat-dialog-form">
        <fieldset class="mat-dialog-form__category">
            <legend class="mat-dialog-form__category-title">Select or create a category</legend>
            <select [(ngModel)]="categoryIdModel" class="mat-dialog-form__category-item mat-dialog-form__category-item--select" name="categoryId" id="categoryId" required >
                <option value="" disabled selected>Uncategorized</option>
                <ng-container *ngIf="categories$ | async as categories">
                    <option *ngIf="categories.length === 0" value="no">Нет категорий</option>
                    <option *ngFor="let category of categories" [ngStyle]="{'background':  category.colour}" [value]="category.id" [selected]="currentNameCategory === category.name">{{category.name}}</option>
                </ng-container>
            </select>
            <button (click)="toggleShowInput('new-category')" [ngClass]="btnClass" class="mat-dialog-form__category-btn-plus" type="button"></button>
            <input #newCategory [ngClass]="inputClass" class="mat-dialog-form__category-item mat-dialog-form__category-item--new-cat" type="text" name="new-category" id="new-category" placeholder="Enter the name of the new category" maxlength="14">
            <button [ngClass]="btnClass" (click)="addNewCategory(newCategory.value, 'new-category')" class="mat-dialog-form__category-btn-add"  type="button">Add</button>
        </fieldset>
        <label for="purchase" class="mat-dialog-form__title">Enter the name of the purchase</label>
        <input [ngModel]="nameModel" (ngModelChange)="nameModel = $event" class="mat-dialog-form__item" type="text" name="purchase" id="purchase" placeholder="Enter the name of the purchase" maxlength="30" required>
        <button class="mat-dialog-form__btn" type="submit">Create</button>
    </form>
</div>
<div mat-dialog-actions>
    <button class="mat-dialog-actions__btn" mat-button (click)="closeDialog()">Close</button>
</div>
